* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

img:hover {
	-ms-transform: translate(1px, 2px); /* IE 9 */
    -webkit-transform: translate(1px, 2px); /* Safari */
    transform: translate(1px, 2px);
}

/*---------------------------------------------- Strat Language Div ------------------------------------------------*/

#languageDiv {
	background-color: #000000;
	text-align: center;
}

#languageDiv li {
	list-style: none;
	position: relative;
	display: inline-block;
	padding: 16px;
}

#languageDiv a {
	color: #FFFFFF;
    text-decoration: none;
}

#languageDiv a:hover{
	animation-name: language-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes language-animation {
      from {color: #FFFFFF;}
    to {color: red;}
}

/*---------------------------------------------- End Language Div ------------------------------------------------*/

/*----------------------------------------------- Strat Logo Div -------------------------------------------------*/

#logoDiv {
	text-align: center;
	padding: 16px;
}

/*------------------------------------------------ End Logo Div --------------------------------------------------*/

/*----------------------------------------------- Strat Menu Div -------------------------------------------------*/

.navbar-custom {
    background-color: #396DB5;
}
/* Title */
.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #ffffff;
}
/* Link */
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > li > a:hover{
	background-color: #ffffff;
    animation-name: nav-animation;
    animation-duration: 4s;
}

@keyframes nav-animation {
      from {
      	color: #ffffff;
      	background-color: : #396DB5;
      	}
    	to {
    	color: #C9302C;
    	background-color: : #ffffff;
    	}
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    background-color: #C9302C;
    color: #ffffff;
    
}

@keyframes nav-click-animation {
      from {
      	color: #C9302C;
      	}
    	to {
    	color: #ffffff;
    	}
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #C9302C;
    animation-name: nav-click-animation;
    animation-duration: 4s;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

.dropdown-menu li{
	font-size: 8px;
	list-style: none;
}

.dropdown-header a{
	font-size: 12px;
	color: #C9302C;
}

/*------------------------------------------------ End Menu Div --------------------------------------------------*/

/*---------------------------------------------- Start Slider Div ------------------------------------------------*/

.item img{
	width: 100%;
	height: auto;
}

/*----------------------------------------------- End Slider Div -------------------------------------------------*/

/*--------------------------------------------- Start AU Today Div -----------------------------------------------*/

#auTodayDiv {
	margin: 16px;
	text-align: center;
}

#auTodayDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#auTodayDiv .btn-danger{
	margin: 16px;
}

/*----------------------------------------------- End AU Today Div -----------------------------------------------*/

/*---------------------------------------------- Start AU Call Div -----------------------------------------------*/

#auCalDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#auCalDiv h1 {
	color: #ffffff;
	margin-bottom: 24px;
	text-shadow: 2px 2px 5px red;
}

#auCalDiv p {
	color: #ffffff;
}

#auCalDiv .card-text{
	font-family: 'Gaegu', cursive;
	font-size: 20px;
	font-weight: bold;
}

#auCalDiv .box-shadow {
	background-color: #C9302C;
	padding: 16px;
	border-radius: 10px;
	margin-bottom: 16px;
	border-width: 2px;
	border-style: dotted;
	border-color: #ffffff;
}

#auCalDiv .dateNumber{
	font-size: 24px;
	font-family: 'Gaegu', cursive;
}

/*----------------------------------------------- End AU Call Div ------------------------------------------------*/

/*----------------------------------------------- Start Social Div -----------------------------------------------*/

#socialDiv {
	background-color: #ffffff;
	padding: 16px;
	text-align: center;
}

#socialDiv h1{
	margin-bottom: 24px;
}

#socialDiv img{
	margin-bottom: 16px;
}

/*----------------------------------------------- End Social Div ------------------------------------------------*/

/*--------------------------------------------- Start AU Years Div ----------------------------------------------*/

#auYearsDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#auYearsDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#auYearsDiv h1{
	color: #ffffff;
	text-shadow: 2px 2px 5px red;

}

#auYearsDiv p{
	color: #ffffff;
}

#auYearsDiv a{
	color: red;
}

/*--------------------------------------------- End AU Years Div -----------------------------------------------*/

/*-------------------------------------------- Start Faculties Div ---------------------------------------------*/

#facultiesNewsDiv {
	margin: 16px;
	text-align: center;
}

#facultiesNewsDiv .row{
	margin: 16px;
}

#facultiesNewsDiv img{
	border-radius: 16px;
}

/*-------------------------------------------- End Faculties Div ----------------------------------------------*/

/*------------------------------------------- Start Academics Div ---------------------------------------------*/

#academicDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#academicDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#academicDiv h1{
	color: #ffffff;
	text-shadow: 2px 2px 5px red;
}

#academicDiv p{
	color: #ffffff;
}

#academicDiv a{
	color: red;
}

/*-------------------------------------------- End Academics Div ----------------------------------------------*/

/*------------------------------------------- Start Au Grants Div ---------------------------------------------*/

#auGrantsDiv {
	margin: 16px;
	text-align: center;
}

#auGrantsDiv .row{
	margin: 16px;
}

#auGrantsDiv img{
	border-radius: 16px;
}

/*--------------------------------------------- End Au Grants Div ---------------------------------------------*/

/*------------------------------------------- Start Au Students Div -------------------------------------------*/

#auStudentsDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#auStudentsDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#auStudentsDiv h1{
	color: #ffffff;
	text-shadow: 2px 2px 5px red;
}

#auStudentsDiv p{
	color: #ffffff;
}

#auStudentsDiv a{
	color: red;
}

/*--------------------------------------------- End Au Students Div -------------------------------------------*/

/*-------------------------------------------- Start Conference Div -------------------------------------------*/

#auConferenceDiv {
	margin: 16px;
	text-align: center;
}

#auConferenceDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#auConferenceDiv .btn-danger{
	margin: 16px;
}

/*--------------------------------------------- End Conference Div --------------------------------------------*/

/*------------------------------------------- Start Au Researches Div -----------------------------------------*/

#auResearchsDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#auResearchsDiv h1{
	color: #ffffff;
	text-shadow: 2px 2px 5px red;
}

#auResearchsDiv p{
	color: #ffffff;
	margin: 16px;
}

#auResearchsDiv a{
	color: red;
}

/*------------------------------------------- End Au Resaearches Div -------------------------------------------*/

/*-------------------------------------------- Start Around AU Div ---------------------------------------------*/

#aroundAuDiv {
	margin: 16px;
	text-align: center;
}

#aroundAuDiv .row{
	margin: 16px;
}

#aroundAuDiv img{
	border-radius: 16px;
}

/*-------------------------------------------- End Around AU Div ----------------------------------------------*/

/*------------------------------------------- Start Au Students Div -------------------------------------------*/

#prominentFiguresDiv {
	background-color: #396DB5;
	padding: 16px;
	text-align: center;
}

#prominentFiguresDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#prominentFiguresDiv h1{
	color: #ffffff;
	text-shadow: 2px 2px 5px red;
}

#prominentFiguresDiv p{
	color: #ffffff;
}

#prominentFiguresDiv a{
	color: red;
}


#prominentFiguresDiv .btn-danger{
	margin: 16px;
}

/*--------------------------------------------- End Au Students Div -------------------------------------------*/

/*-------------------------------------------- Start Information Div ------------------------------------------*/

#auInformationDiv {
	margin: 16px;
	text-align: center;
}

#auInformationDiv .card-img-top {
	border-radius: 8px;
	margin: 16px;
}

#auInformationDiv .btn-danger{
	margin: 16px;
}

/*--------------------------------------------- End Information Div -------------------------------------------*/

/*---------------------------------------------- Strat Footer Div ---------------------------------------------*/

#Footer {
	background-color: #414141;
	padding: 16px;
	text-align: center;
}

#Footer h3 {
	color: #ffffff;
}

#Footer ul{
	list-style: none;
	text-align: left;
}

#Footer a{
	color: #69a9c6;
}

#Footer li::before {
  content: "• ";
  color: #ffffff; 
}

#Footer a:hover{
	text-decoration: none;
	animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
      from {color: currentColor;}
    to {color: #a7e2f9;}
}

#Footer h3{
	color: #ffffff;
	text-shadow: 2px 2px 5px #C9302C;
}

#Footer img{
	height: 300px;
}

#Footer img:hover{
	-ms-transform: translate(1px, 2px); /* IE 9 */
    -webkit-transform: translate(1px, 2px); /* Safari */
    transform: translate(1px, 2px);
}

.hit-the-floor {
	color: #C9302C;
	font-size: 2em;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 0.6px 0 #ccc, 0 1.2px 0 #c9c9c9, 0 2px 0 #bbb, 0 2.4px 0 #b9b9b9,
	 0 3.2px 0 #aaa, 0 4px 0.6px rgba(0,0,0,.1), 0 0 3.2px rgba(0,0,0,.1), 0 0.6px 2px rgba(0,0,0,.3), 0 2px 1.2px rgba(0,0,0,.2),
	  0 3.2px 6.4px rgba(0,0,0,.25), 0 6.4px 6.4px rgba(0,0,0,.2), 0 12.8px 12.8px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}
/*----------------------------------------------- End Footer Div ----------------------------------------------*/

/*---------------------------------------------- Start Fixed Div ----------------------------------------------*/

#fixedDiv{
	position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: #C9302C;
    padding: 5px;
    border-radius: 50px;
}

#fixedElementDiv{
	margin: 5px;
	text-align: center;
}

#fixedElementDiv a{
	text-decoration: none;
	font-size: 24px;
	-webkit-transition: font-size 2s; /* For Safari 3.1 to 6.0 */
    transition: font-size 2s;
    color: #ffffff;
}

#fixedElementDiv a:hover{
	font-size: 48px;
}

iframe {
	margin-top: 16px;
	width: 100%;
}

/*----------------------------------------------- End Fixed Div -----------------------------------------------*/