#rowElement {
  transition: transform 0.2s;
}

#rowElement :hover {
  /* background-color: #ad310b;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

  color: white; */
  transform: scale(1.1);
}
