table,
th,
td {
  border: 1px solid grey;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr th {
  border: 2px solid black;
  padding: 0;
  margin: 0px;
  overflow: auto;
}

th div {
  resize: both;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display: block;
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

.trash-container {
  text-align: center;
}

.trash-container i {
  margin: 8px;
}

.fa-chevron-up {
  margin-right: 16px;
  margin-left: 16px;
}