.Header {
  text-align: center;
}

.Header-logo {
  height: 200px;
  margin: 16px;
}

.Header-header {
  background-color: #53738b;
  padding: 20px;
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Jua");
.Header-title {
  font-size: 1.5em;
  font-family: jua;
}

.Header-intro {
  font-size: large;
}

.Header-logo:hover {
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: 0.5;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1.5em;
  font-family: jua;
}