.pages-container {
    margin: 24px;
    text-align: center;
}

.page-number {
    display: inline;
    width: 8px;
    height: 8px;
    background-color: #53738b;
    color: #FFF;
    border-radius: 32px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    margin: 8px;
    padding: 8px;
    transition: transform 0.5s;
    font-weight: bold;
}

.page-number:hover {
    color: #53738b;
    background-color: #FFF;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}